In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
df=pd.read_csv('/content/Fish.csv')
df

     Weight  Length1  Length2  Length3   Height   Width Species
0     242.0     23.2     25.4     30.0  11.5200  4.0200   Bream
1     290.0     24.0     26.3     31.2  12.4800  4.3056   Bream
2     340.0     23.9     26.5     31.1  12.3778  4.6961   Bream
3     363.0     26.3     29.0     33.5  12.7300  4.4555   Bream
4     430.0     26.5     29.0     34.0  12.4440  5.1340   Bream
..      ...      ...      ...      ...      ...     ...     ...
154    12.2     11.5     12.2     13.4   2.0904  1.3936   Smelt
155    13.4     11.7     12.4     13.5   2.4300  1.2690   Smelt
156    12.2     12.1     13.0     13.8   2.2770  1.2558   Smelt
157    19.7     13.2     14.3     15.2   2.8728  2.0672   Smelt
158    19.9     13.8     15.0     16.2   2.9322  1.8792   Smelt

[159 rows x 7 columns]

In [ ]:
# Independent and Dependent features
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [ ]:
# Train Test Split
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [ ]:
# Implement Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
Fishclassifier=RandomForestClassifier()
Fishclassifier.fit(X_train,y_train)

RandomForestClassifier()

In [ ]:
# Prediction
y_pred=Fishclassifier.predict(X_test)

In [ ]:
# Check Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [ ]:
import pickle
pickle_out = open("Fishclassifier.pkl", "wb")
pickle.dump(Fishclassifier, pickle_out)
pickle_out.close()

In [ ]:
Fishclassifier.predict([[242, 23.2,25.4,30,11.52,4.02]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

array(['Bream'], dtype=object)